<div class="dropdown-selector" {{action "toggleShowMenu"}}>
    <span class="title">
        {{dropdownTitle}}
    </span>
</div>

<ul {{bind-attr class=":dropdown-menu showMenu::hide"}}>
    {{#if menuItems}}
        {{#each menuItem in menuItems}}
            {{dropdown-menu-item item=listItem}}
        {{/each}}
    {{else}}
        {{yield}}
    {{/if}}
</ul>
